
.productWrapper{
    height: 960px;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    margin : 0 30%;
    padding-bottom : 1%;
}

.productSort{
    height: 40px;
    line-height: 40px;
    
}

.productSort select {
    margin-left : 83%;
    width : 15%;
    height: 75%;
}

.products{
    overflow: auto;
    height: 96%;
    border-top : 1px solid black;
    padding : 8% 20% 0 20%;
}
